ga-footer {
  .footer-bg {
    background: url(/app/images/footer.png) no-repeat center center/cover;
    height: 150px;
    width: 100%;
  }
  
  .page-footer {
    color: white;
    height: auto;
    background-color: $primary-color;
  }
  
  .footer-newsletter {
    letter-spacing: 5px;
    text-align: center;
  
    label {
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;

    @media ($mq-small) {
      flex-direction: row;
    }

    .footer-logo {
      order: 2;
      width: 197px;
      height: 113px;
      padding-top: 20px;
  
      @media ($mq-small) {
        order: 1;
        width: 50%;
      }
    }
    
    .footer-facebook {
      order: 1;
      padding-top: 20px;

      @media ($mq-small) {
        order: 3;
        width: 50%;
        padding-left: 20px;
      }
    }
    
    .footer-address {
      font-size: 18px;
      order: 3;

      @media ($mq-large) {
        order: 2;
      }
    }
  }
}