<footer>
  <div class="footer-bg"></div>
  <div class="page-footer">
    <div class="container">
      <div class="footer-newsletter">
        <label>Receba nossas notícias</label>
        <input type="email" class="input-control" placeholder="Digite o seu e-mail" />
        <button class="button-control newsletter-button">Receber</button>
      </div>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="app/images/logo-completa.png" />
        </div>
        <div class="footer-facebook">
          <div class="fb-page" data-href="https://www.facebook.com/amigosga/" data-small-header="true" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/amigosga/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/amigosga/">Gente Amiga</a></blockquote>
          </div>
        </div>
      </div>
      <div class="footer-address">
        <p>Antônio Carlos Ferreia, 1175, Agronômica (Morro do Horácio) Florianópolis</p>
        <p>
          48 3223 6553 <br /> CNPJ 07.004.037/0001-37
        </p>
      </div>
    </div>
  </div>
</footer>