ga-header {
  .page-header {
    display: flex;
    flex-direction: column;
  }

  .page-navbar {
    order: 1;
    height: 100px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-brand {
      text-indent: -9999px;
      background: url(/app/images/logo.png) no-repeat center center/cover;
      height: 62px;
      width: 80px;
      margin-left: 20px;
  
      @media ($mq-small) {
        background: url(/app/images/logo-completa.png) no-repeat center center/cover;
        width: 197px;
        height: 113px;
      }
    }

    .menu {
      display: none;
      padding-right: 20px;
  
      @media ($mq-medium) {
        display: block;
      }
      
      .menu-items {
        
        li {
          display: inline;
  
          a {
            display: inline-block;
            padding: 10px ;
          }
        }
  
      }
    }

    .menu-toggle {
      color: white;
      font-size: 40px;
      padding-right: 20px;
      cursor: pointer;

      @media ($mq-medium) {
        display: none;
      }
    }

    @media ($mq-small) {
      height: 150px;
    }
  }

  .page-banner {
    order: 2;

    &.banner-background {
      background: url(/app/images/header.jpg) no-repeat center center/cover;
  
      &::before {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .page-advertising {
      color: white;
      text-align: center;
      text-transform: uppercase;
      margin-top: 70px;
      margin-bottom: 70px;

      .page-advertising-title {
        font-size: 25px;
        margin-bottom: 20px;
    
        @media ($mq-medium) {
          font-size: 40px;
        }
      }

      .page-advertising-description {
        font-family: inherit;
        padding: 20px 50px;
        background-color: rgba(207, 25, 25, 0.7);
        margin: auto;
        margin-top: 20px;
        font-size: 20px;
    
        @media ($mq-small) {
          width: 50%;
        }
      }

      .page-advertising-button {
        margin-top: 30px;
        padding: 20px 45px;
    
        @media ($mq-medium) {
          padding: 30px 65px;
        }
      }
    }
  }

  .menu-items {
    li {
      list-style: none;
      text-align: center;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        display: block;

        &:hover {
          color: $button-color;

          li {
            border-bottom: 2px $button-color solid;
          }
        }
      }
    }
  }

  .mobile-menu {
    height: 90vh;
    background: $primary-color;
    content: "";
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    @media ($mq-small) {
      top: 150px;
    }

    @media ($mq-medium) {
      top: 100px;
    }

    .menu-items {
      -webkit-padding-start: 0;
    
      li {
        border-bottom: 2px white solid;
        width: 70%;
        padding: 15px;
        margin: auto;
        cursor: pointer;

        &last:last-child() {
          border-bottom: 0;
        }
      }
    }
  }
}