<div class="main-header">
  Conheça nosso projeto
</div>
<div class="main-content container">
  
  <p>A Associação Beneficente, Educacional e Assistencial Gente Amiga, CNPJ 07.004.037/0001-37 fundada em 19 de junho de
    2004, é uma entidade civil sem fins lucrativos, com personalidade jurídica de direito privado e objetivos filantrópicos,
    educacionais e assistenciais, com sede à Rua Antônio Carlos Ferreira, 1175, Agronômica - Florianópolis (SC).</p>

  <p>Historicamente, falar da associação Gente Amiga é falar de Denesia Bellavier, que fundou a casa, e conseguiu reverter
    uma dor profunda, causada pela trágica morte de sua única filha em uma firme e respeitável instituição. Em 22 de
    novembro de 2010, a fundadora veio a falecer.</p>

  <p>Prosseguimos levar a diante seus ideais, desenvolvendo ações que visem o bem estar e a inclusão social de pessoas em
    situação de vulnerabilidade social, residentes na Comunidade do Morro do Horácio, situada no bairro Agronômica, onde
    a entidade está sediada.</p>
    
</div>