ga-main {
  main {
    padding: 70px;
  }

  .main-header {
    padding: 40px 50px;
    width: 80%;  
    font-size: 40px;
    color: white;
    text-align: center;
    margin: auto;
    background: url(images/main-header.png) no-repeat center center/cover;
    position: relative;
    border-radius: 10px;
    text-transform: uppercase;
  }

  .main-content {
    padding-top: 40px;
    text-align: justify;
  }
}